body{
    font-family: 'Source Sans 3', sans-serif);
    color: #343435;
    line-height: 1;
    font-size: 16px;
}
h4{
    font-family: 'Oswald', sans-serif;
    line-height: 1;
    color: #2469B0
}
.p-r{
    position: relative
}
.opacity{
    opacity: 0;
    transition: 0.3s
}

.accordion{
    width: 50%;
    margin: 100px auto 0;
    background-color: #F7F7F7
}
.accordion__heading{
    padding: 25px 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.accordion_info{
    font-size: 14px;
    margin: 0
}
.accordion__item .accordion__heading:not(.accordion__item:last-child .accordion__heading), .accordion__item .accordion__body:not(.accordion__item:last-child .accordion__body), .accordion__item:last-child.active .accordion__heading{
    border-bottom: 1px solid #DAE1E9
}
.accordion__body{
    padding: 0 63px 0 20px;
    opacity: 0;
    height: 0;
    transition: 0.1s;
    pointer-events: none
}
.accordion__item.active .accordion__body{
    padding: 15px 63px 15px 20px;
    opacity: 1;
    pointer-events: auto
}
.accordion .show, .accordion .hide{
    position: absolute;
    top: -13px;
    right: 0
}
.accordion__item .hide{
    opacity: 0
}
.accordion__item.active .show{
    opacity: 0
}
.accordion__item.active .hide{
    opacity: 1
}
