:root {
    --dark-blue: #2469B0;
    --light-gray: #F7F7F7;
    --medium-gray: #DAE1E9;
    --black: #343435;
    --general-font: 'Oswald', sans-serif;
    --main-font: 'Source Sans 3', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0
}
body{
    font-family: var(--main-font);
    color: var(--black);
    line-height: 1;
    font-size: 16px;
}
.bg-light-gray{
    background-color: var(--light-gray)
}
.d-flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center
}
h4{
    font-family: var(--general-font);
    line-height: 1;
    color: var(--dark-blue)
}
.p-r{
    position: relative
}
.opacity{
    opacity: 0;
    transition: 0.3s
}
.small-main-text{
    font-size: 0.875rem
}


.accordion__heading{
    padding: 25px 20px;
    cursor: pointer
}
.accordion__item .accordion__heading:not(.accordion__item:last-child .accordion__heading), .accordion__item .accordion__body:not(.accordion__item:last-child .accordion__body), .accordion__item:last-child.active .accordion__heading{
    border-bottom: 1px solid var(--medium-gray)
}
.accordion__body{
    padding: 0 63px 0 20px;
    opacity: 0;
    height: 0;
    transition: 0.1s;
    pointer-events: none
}
.accordion__item.active .accordion__body{
    padding: 15px 63px 15px 20px;
    opacity: 1;
    pointer-events: auto
}
.accordion .show, .accordion .hide{
    position: absolute;
    top: -13px;
    right: 0
}
